<mat-drawer-container class="side-control-container" autosize>

  <mat-drawer mode="side" (opened)="asideOpen = true" (closed)="asideOpen = false">
    <ng-content select="[app-side-container-aside]"></ng-content>
  </mat-drawer>

  <div class="main-content">

    <div class="side-panel mat-toolbar mat-primary">

      <i title="toggle" class="toggle-button fas" [ngClass]="{'fa-toggle-off' : !asideOpen, 'fa-toggle-on' : asideOpen, 'toggle-disabled' : !asideContentEnabled}"
        (click)="toggle()"></i>

      <mat-divider></mat-divider>

      <i routerLinkActive="active-link" routerLink="/home" class="fas fa-home"></i>
      <i routerLinkActive="active-link" routerLink="/history" class="fas fa-history"></i>
      <i class="fas fa-backward" (click)="back()"></i>

      <mat-divider></mat-divider>

      <i *ngFor="let additionalButton of additionalButtons" class="animated 2s fadeIn" [ngClass]="[additionalButton.iconClass]"
        (click)="additionalButtonClicked(additionalButton)"></i>

      <mat-divider *ngIf="additionalButtons && additionalButtons.length > 0"></mat-divider>
        
      <div class="side-panel-free-space" [ngClass]="{'toggle-disabled' : !asideContentEnabled}" (click)="toggle()"></div>

    </div>

    <ng-content select="[app-side-container-main]"></ng-content>

  </div>

</mat-drawer-container>