.container {
    display: block;
    margin: 8px 0;
    text-decoration-line: none;
    color: black;
}

.link {

}

.icon {
    margin-left: 16px;
}

.submitions-count {
    display: inline;
}

.submitions {
    background: #f5f5f5;
    padding: 3px
}

.last-ten-seconds {
    color: red;
}
