<!-- <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner> -->


<button mat-button color="secondary" (click)="goBack()"> Back
  <i class="fas fa-backward"></i>
</button>

<mat-card>
  <mat-card-title>
    Game: {{ game?.title | uppercase }}
  </mat-card-title>

  <mat-toolbar>
    <i class="far fa-clock" style="margin-right: 10px"></i>
    <span>{{ game?.createDate | date:'h:mm:ss' }}</span>
  </mat-toolbar>
</mat-card>


<mat-card *ngIf="user && !userSubmition.value">
  <mat-card-title>Choose 1-100</mat-card-title>
  <mat-slider min="1" max="100" tickInterval="auto" [(ngModel)]="selected" thumbLabel="true"></mat-slider>
  {{selected}}
  <div>
    <button mat-raised-button color="primary" [disabled]="userSubmition.value" (click)="submit()">
      submit your guess
    </button>
  </div>
</mat-card>

<mat-card *ngIf="userSubmition.value">
  <h1>Your guess: {{ userSubmition.value }}</h1>
</mat-card>


<app-game-winner [game]="game"></app-game-winner>

<app-game-submitions *ngIf="userSubmition.value" [submitions]="submitions$ | async"></app-game-submitions>