:host {
    height: inherit;
}

.container {
    height: calc(100% - 36px); /* 36px: button before container */
}

mat-slider {
    min-width: 200px;
}

.last-ten-seconds {
    color: red;
}

mat-toolbar h3 {
    font-family: 'Source Serif Pro', serif;    
}

