<mat-card>
  <mat-toolbar>
    <span>Game: {{(game$ | async)?.title}}</span>
  </mat-toolbar>
  <mat-toolbar>
    <i class="far fa-clock" style="margin-right: 10px"></i>
    <span>Time until next winner: {{ (game$ | async)?.createDate | date }}</span>
  </mat-toolbar>
</mat-card>

<mat-card *ngIf="user">
  <mat-card-subtitle>
    <h3>Choose 1-100</h3>
  </mat-card-subtitle>
  <img mat-card-image>
  <mat-form-field>
    <mat-select placeholder="Select your guess" [(ngModel)]="selected">
      <mat-option *ngFor="let number of numbers" [value]="number">
        {{ number }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" [disabled]="submitted" (click)="submit()">
      submit your guess
    </button>
  </div>
  <div>
    <button mat-raised-button color="secondary" (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>


<mat-card>
    <mat-toolbar>
      <span>Winner: {{(game$ | async)?.winner?.name}}</span>
    </mat-toolbar>
  </mat-card>

<h2>Submitions: </h2>
  <mat-list>
    <mat-list-item *ngFor="let submition of submitions$ | async">
      {{submition.userDisplayName}}: {{submition.value}}
    </mat-list-item>
  </mat-list>