<mat-card>
  <mat-card-title>
    Game: {{ game?.title | uppercase }}
  </mat-card-title>

  <mat-toolbar>
    <i class="far fa-clock" style="margin-right: 10px"></i>
    <span>{{ game?.createDate | date:'h:mm:ss' }}</span>
  </mat-toolbar>
</mat-card>


<mat-card *ngIf="user && !submitted">
  <mat-card-title>Choose 1-100</mat-card-title>

  <mat-slider min="1" max="100" tickInterval="auto" [(ngModel)]="selected" thumbLabel="true"></mat-slider>
  {{selected}}

  <div class="row">
    <div>
      <button mat-raised-button color="primary" [disabled]="submitted" (click)="submit()">
        submit your guess
      </button>
    </div>
    <div>
      <button mat-raised-button color="secondary" (click)="goBack()">
        Back
      </button>
    </div>
  </div>
</mat-card>

<mat-card *ngIf="submitted">
  <h1>Your guess: {{ selected }}</h1>
</mat-card>


<mat-card *ngIf="game?.winner">
  <mat-toolbar color="accent">
    <h3>Game Number: {{ game.winner.guessedValue }}</h3>
  </mat-toolbar>
  <mat-toolbar color="accent">
    <span>Winner: {{ game.winner.name }}</span>
  </mat-toolbar>
</mat-card>

<app-game-submitions *ngIf="submitted" [submitions]="submitions$ | async"></app-game-submitions>