<div class="container">

  <mat-toolbar class="navbar" color="primary">
    <div class="row middle-xs" style="width: 100%">
      <span class="col-xs-12
                   col-sm-8" style="white-space: normal">
        Welcome to who is Nearest!
      </span>
      <div class="col-xs-12
                  col-sm-4
                  last-sm
                  first-xs">
        <app-account></app-account>
      </div>
    </div>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
