<mat-toolbar color="primary">
  <div class="row" style="width:100%">
    <span class="col-xl-8 col-sm-8">
      Welcome to our awsome who is nearest game!
    </span>
    <div class="col-xl-4 end-xl col-sm-4">
      <app-account></app-account>
    </div>
  </div>
</mat-toolbar>

<mat-card>
  <mat-toolbar>
    <span>Time until next winner: {{ (game$ | async)?.secondsLeftUntilNextRaffle }}</span>
  </mat-toolbar>
</mat-card>

<mat-card>
  <mat-form-field>
    <mat-select placeholder="Select your guess" [(ngModel)]="selected" >
      <mat-option *ngFor="let number of numbers" [value]="number">
        {{ number }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row">
    <button mat-raised-button color="primary" (click)="submit()">submit your guess</button>
  </div>

</mat-card>

<h2>Submitions: </h2>
<div *ngFor="let submition of submitions$ | async">
  {{submition.value}} {{submition.userDisplayName}}
</div>
