:host {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;   
}

.not-logged-in {
    font-weight: bold;
    font-size: 2em;
}

.nearest-navbar {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    /* padding: 40px 32px; */
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.nearest-content {
    position: relative;
    top: 80px;
    height: 100%;
}
