<mat-drawer-container class="sidenav-container" autosize>

  <mat-drawer mode="side" (opened)="asideOpen = true" (closed)="asideOpen = false">
    <ng-content select=".app-side-container-aside"></ng-content>
  </mat-drawer>

  <div class="main-content">
    <div class="main-content-button mat-toolbar mat-primary" [ngClass]="{'main-content-button-disabled' : !asideContentEnabled}" (click)="toggle()">
      <i [ngClass]="{'fas': true, 'fa-toggle-off' : !asideOpen, 'fa-toggle-on' : asideOpen}"></i>
    </div>

    <ng-content select=".app-side-container-main"></ng-content>
  </div>

</mat-drawer-container>