.sidenav-container {
    background-color: white;
}

.main-content {
    display: flex;
}

.main-content-button {
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
}

.aside-content {
    height: 100vh;
}