/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    height: inherit;
    font-family: 'Source Serif Pro', serif;
}

.mat-card,
.mat-list-item,
.mat-toolbar,
.mat-form-field,
.mat-input-element,
.mat-raised-button,
.mat-slider-thumb-label-text {
    font-family: 'Source Serif Pro', serif;
}

.nearest-cercle {
    border-radius: 50%;    
}

