<mat-drawer-container class="sidenav-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side">
    <app-leaderboard></app-leaderboard>
  </mat-drawer>

  <div class="sidenav-content">
    <div (click)="drawer.toggle()">
      <i class="fas fa-toggle-off"></i>
    </div>
    <div *ngIf="accountService.user; else loggedOut">
      <app-home-game-creator (createGame)="createGame($event)" (quickStartGame)="quickStartGame()"></app-home-game-creator>
      <app-home-active-games [games]="activeGames"></app-home-active-games>
    </div>
  </div>


</mat-drawer-container>

<ng-template #loggedOut>
  <mat-card>
    <span class="not-logged-in">Can't play when not logged in!</span>
  </mat-card>
</ng-template>